* {
    font-family: fantasy;
}

body {
    background-image: url(
        https://scontent-den4-1.xx.fbcdn.net/v/t31.18172-8/328104_3070145028488_182269843_o.jpg?_nc_cat=100&ccb=1-7&_nc_sid=2c4854&_nc_ohc=LUdrOYw8ve8AX96FPGL&_nc_ht=scontent-den4-1.xx&oh=00_AfCT1tcJxY2ss-lPQ8zQkil_27I2vP1Bs2PH23kwmdq2uw&oe=644D3BCC
    );
    background-repeat: no-repeat;
    background-size: cover;
    margin: none;
}

.navBar {
    display: flex;
    justify-content:space-between;
    background-color: rgba(0, 0, 0, 0.344);
}